/* =============================================================================
//  Button module
// ========================================================================== */

@import "../core/*";
@import "../atoms/icon";

/*doc
---
title: Buttons
name: button
category: atoms
---

You can apply button styles to pretty much anything you'd like. Anchors and button elements, though, would be the winners on the semantics front.

You can mix and match classes to get the hierarchy/size you need. "small primary" and "large tertiary" are both kosher.

```html_example
<a href="#" class="button">Default</a>
<a href="#" class="button primary">Primary</a>
<a href="#" class="button secondary">Secondary</a>
<a href="#" class="button tertiary">Tertiary</a>
<a href="#" class="button small">Small</a>
<a href="#" class="button large">Large</a>
```

*/

/* Config/mixins
// -------------------------------------------------------------------------- */
$button-radius--default: 0.3em;


/* Base
// -------------------------------------------------------------------------- */

button, .button {
    $c: theme(text primary);
    @extend %base-transition;
    @extend %font-accent;
    @include font-scale(2);
    @include border($color: $c);
    display: inline-block;
    padding: 0.6em 1.8em 0.5em;
    // text-transform: uppercase;
    // border-bottom: 0;
    border-radius: $button-radius--default;
    color: $c;

    &:hover, &:active {
        color: theme(highlight);
        background-color: $c;
    }
}



/* Modifiers
// -------------------------------------------------------------------------- */

// --- special variations --------------------------------------------------
// -> buttons of a strange and amazing nature


.button.read_more {
    @extend %font-accent--bold;
    @include font-scale(2);
    // @include chapter_highlights(color);
    padding: 0;
    border: none;
    text-transform: uppercase;
    color: theme('text' 'primary');
    // color: theme('highlight');

    &:hover, &:active {
        @include chapter_highlights(color);
        color: theme('highlight');
        background-color: transparent;
    }

    > .button-icon {
        @include chapter_highlights(fill);
        fill: theme(highlight);
    }
}

    .button-icon {
        @extend .icon;
        margin-left: 0.3em;
        // margin-right: -0.2em;
        height: 1em;
        width: 1em;
        fill: currentColor;

        &.before {
            margin-left: -0.2em;
            // margin-right: 0.1em;
        }
    }
