/* ==========================================================================
//  Logo modules
// ========================================================================== */

/* Base
// -------------------------------------------------------------------------- */
.logo {
    @extend %font-body--bold;
    display: inline-block;
    max-width: 100%;
    border-bottom: none;
    font-weight: bold;
    color: theme('text' 'primary');
}
