/* =============================================================================
//  Global type styles
// ========================================================================== */

@import "../core/*";

/*doc

Inline text is mostly styled globally and doesn't change a whole lot from one context to another. If you mark it up with relevant tags it should take care of itself. But there are a few helper classes to define special styles:

`.intro`: an italicized introduction to an article. Pretty common in Handshake's features and interviews.

`.caption`: small, secondary text appearing in sidebars and, of course, captions.

`.callout`: a featured passage. It isn't a header, per se, but it's the most important part of the article body. Used, for example, to highlight the question in _1 Question, 9 Experts_.

`.lead`: the first paragraph of an article, decorated with a drop cap, etc. This is usually selected via `.content > p:first-child`, but if you need to imitate those styles in another context, use this class.

*/


/* Globals
// -------------------------------------------------------------------------- */

html {
    // set up the base font size at each breakpoint
    // this will scale the whole layout proportionately as the screen size changes
    // and we only have to change one thing
    font-size: 100%;

    @include respond-to('small') {
        font-size: 105%;
    }

    @include respond-to('medium') {
        font-size: 110%;
    }

    @include respond-to('large') {
        font-size: 120%;
    }
}

body {
    @extend %font-body;
    line-height: $type-line_height;
    color: theme('text' 'secondary');
}

p {
    @include font-scale(3);
    // @include rem(font-size, 13px);
    color: theme('text' 'secondary');

    strong {
        @extend %font-body--bold;
        font-weight: bold;
    }
}

a {
    // @extend %base-transition;
    // @include chapter_highlights(color border-bottom-color);
    text-decoration: none;
    color: theme(highlight);
    border-bottom: 0px dotted theme(highlight);

    &:hover, &:active {
        border-bottom-width: 1px;
    }
}

strong {
    @extend %font-body--bold;
    font-weight: bold;
}

small {
    @include font-scale(1);
}

figcaption {

}

address {

}

/* Text modules
// -------------------------------------------------------------------------- */

// the first paragraph, often set slightly bigger
.lead {
    @include font-scale(3);

    &:first-letter {
        @include chapter_highlights;
        @extend %font-accent--bold;
        float: left;
        margin: 0 0.06em 0 -0.04em;
        font-size: 3.5em;
        line-height: 0.8;
        color: theme(highlight);
    }
}

// a caption
.caption, figcaption {
    @extend %font-body;
    @include font-scale(2);
    color: theme('text' 'tertiary');
}

// base styles for menu items
// -> see jump nav and main nav modules
.nav-item {
    @extend %base-transition;
    @extend %font-body--bold;
    @include font-scale(2);
    border-bottom: none;
    text-transform: uppercase;
    line-height: 1;
    color: lighten(theme(text tertiary), 5);

    &:hover, &:active { color: theme(text primary); }

    // active state
    &.is-active {
        @include chapter_highlights(color);
        color: theme(highlight);
    }
}
