/* ==========================================================================
// Billboard module
// -> an area with short, featured content and a background image
// -> similar to a hero unit but contains flowed content, not a header/CTA
// -> is variable height (hero is fixed height)
// ========================================================================== */

@import "../core/*";
@import "../atoms/heading";
@import "../organisms/gallery";

$billboard-break: 830px;
$billboard-padding: $gutter fs(8);

/* Base
// -------------------------------------------------------------------------- */

.billboard {
    @include rem(padding-top, nth($billboard-padding, 1));
    @include rem(padding-bottom, nth($billboard-padding, 1));
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #ccc;

    @include respond-to('xsmall') {
        @include rem(padding-top, nth($billboard-padding, 2));
        @include rem(padding-bottom, nth($billboard-padding, 2));
    }
}

/* Submodules
// -------------------------------------------------------------------------- */

.billboard-frame {
    @extend %l-wrapper--narrow;
    @include border($color: theme(bg));
    position: relative;
    z-index: $z--low;
    padding: $gutter;

    .multiplebgs & { border: none; }

    @include breakpoint($billboard-break) {
        @include brackets;
    }
}

.billboard-title {
    @extend %beta;
    text-align: center;
    // color: theme(bg);
}

.billboard-gallery.small {
    @extend .gallery;
    padding: $gutter $gutter 0 0;
    // margin-left: -($gutter);
    margin-right: -($gutter);
    z-index: $z--low;

    &:last-child { margin-bottom: -($gutter); }

    // create white bg with pseudo element b/c the gallery has a negative margin on the right -- won't be aligned otherwise
    &:before {
        @include position(absolute, 0 $gutter 0 0);
        content: " ";
        display: block;
        z-index: -1;
        background-color: theme(bg);
    }

    @include breakpoint($billboard-break) {
        padding: $gutter $gutter 0 $gutter;
        margin-left: -($gutter);
        margin-right: -($gutter * 2);
    }
}
