/* ==========================================================================
// Billboard module
// -> an area with short, featured content and a background image
// -> similar to a hero unit but contains flowed content, not a header/CTA
// -> is variable height (hero is fixed height)
// ========================================================================== */

@import "../core/*";
@import "../atoms/heading";
@import "../organisms/gallery";

$billboard-padding: fs(8);

/* Base
// -------------------------------------------------------------------------- */

.billboard {
    @include rem(padding-top, $billboard-padding);
    @include rem(padding-bottom, $billboard-padding);
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #ccc;
}

/* Submodules
// -------------------------------------------------------------------------- */

.billboard-frame {
    @extend %l-wrapper--narrow;
    @include border($color: theme(bg));
    @include brackets;
    position: relative;
    z-index: $z--low;
    padding: $gutter;

    .multiplebgs & { border: none; }
}

.billboard-title {
    @extend %beta;
    // color: theme(bg);
}

.billboard-gallery {
    @extend .gallery;
    padding: $gutter $gutter 0 $gutter;
    margin-left: -($gutter);
    margin-right: -($gutter * 2);
    z-index: $z--low;

    &:last-child { margin-bottom: -($gutter); }

    // create white bg with pseudo element b/c the gallery has a negative margin on the right -- won't be aligned otherwise
    &:before {
        @include position(absolute, 0 $gutter 0 0);
        content: " ";
        display: block;
        z-index: -1;
        background-color: theme(bg);
    }
}
