/* ==========================================================================
// Billboard module
// -> an area with short, featured content and a background image
// -> similar to a hero unit but contains flowed content, not a header/CTA
// -> is variable height (hero is fixed height)
// ========================================================================== */

@import "../core/*";
@import "../atoms/heading";

$billboard-padding: fs(8);

/* Base
// -------------------------------------------------------------------------- */

.billboard {
    @include rem(padding-top, $billboard-padding);
    @include rem(padding-bottom, $billboard-padding);
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #ccc;
}

/* Submodules
// -------------------------------------------------------------------------- */

.billboard-frame {
    @extend %l-wrapper--narrow;
}

.billboard-title {
    @extend %beta;
    color: theme(bg);
}
