/* ==========================================================================
// Card module
// -> A short listing pointing at more detailed content, like a chapter
//    or large table. Often found in 'feed' and 'gallery' organisms.
// ========================================================================== */

@import "../core/*";
@import "../atoms/media";
@import "../atoms/heading";

$card-break: 'small';
$card-thumb-w: 50%;

/* Base
// -------------------------------------------------------------------------- */

.card {
    @include clearfix;
    position: relative;
    display: block;
}

/*  Modifiers
// -------------------------------------------------------------------------- */

/* --- "horizontal" (two column) version ------------------------------------ */
.card.horizontal {
    font-size: 0; // fix whitespace issues with inline-block

    .flexbox & {
        @include respond-to($card-break) { display: flex; }
    }
}

// small version
// -> stays horizontal at mobile sizes
.card.horizontal.small {}

// has a solid bg and full-bleed thumb
.card.tile {
    padding: $gutter;
    background-color: theme(well);

    .flexbox & { padding: 0; }
}

/* Submodules
// -------------------------------------------------------------------------- */

/* --- thumbnail image ------------------------------------------------------ */
.card-thumb {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    vertical-align: top;
    border-bottom: 0;
    background-color: theme(text tertiary);

    .card.horizontal & {
        @include respond-to($card-break) {
            display: inline-block;
            width: $card-thumb-w;
        }
    }

    .card.horizontal.small & {
        display: inline-block;
        width: $card-thumb-w;
    }

    .flexbox .card.horizontal & {
        @include respond-to($card-break) {
            flex: 1;
            width: auto;
        }
    }

    img {
        // @include border(all, thin);
        width: 100%; // force the thumbnail image to be fill its container

        // center the image within its frame if transforms are supported
        .flexbox.csstransforms .card.horizontal & {
            @include respond-to($card-break) {
                @include transform(translateY(-50%) translateX(-50%));
                top: 50%;
                left: 50%;
            }
        }

        .flexbox .card.horizontal & {
            @include respond-to($card-break) {
                position: absolute;
                // top: 0;
                // left: 0;
                // right: 0;
                // bottom: 0;
                object-fit: cover;
                min-width: 100%;
                min-height: 100%;
            }
        }
    }
}

/* --- content container ---------------------------------------------------- */
.card-content {

    @mixin col-right {
        display: inline-block;
        margin-top: 0;
        padding-left: $gutter;
        width: (100% - $card-thumb-w);
    }

    @include rem(font-size, 16px);
    display: block;
    vertical-align: top;

    .card-thumb + & { padding-top: $gutter; }

    .card.tile & { padding: $gutter; }

    .card.horizontal & {
        @include respond-to($card-break) { @include col-right; }
    }

    .card.horizontal.small & { @include col-right; }

    .flexbox & {
        @include respond-to($card-break) {
            flex: 1;
            padding: $gutter;
            width: auto;
        }
    }
}

.card-title {
    @extend %beta;
    @extend %base-transition;
    @include chapter_highlights;
    border-bottom: none;
    line-height: 1.1;

    &:hover, &:active {
        color: theme(highlight);
    }

    .card.small & {
        @extend %delta;
    }

    a { border-bottom: none; }
}
