/* ==========================================================================
// Chart module
// -> used for figures/charts
// ========================================================================== */

@import "../core/*";

/* Base
// -------------------------------------------------------------------------- */

.chart {

}

//============ Figure Styles ============///
    .figure .text {
        @extend %font-body;
        font-size: fs(6);

        &.light { fill: theme('text' 'primary', 'reverse'); }
        &.dark { fill: theme(text secondary); }
        &.data { @extend %font-body--bold; }
        &.bold { @extend %font-body--bold; }

        &.title{
            font-size: fs(7);
            fill: theme(text tertiary);

            &.type {
                @extend %font-body--bold;
            }
        }
    }

    .figure {
        margin: 50px;
        width: 100%;
    }

    .gridline {
        stroke-width: .2px;
    }

    .circle.white {
        fill: theme('text' 'primary', 'reverse');
    }

    .rings {
        fill: theme(border, wash);
    }

    .graph.fill{
        fill: highlight('green');
    }

    .text.y-axis {
        fill: highlight('green');
    }


// Chartist Styles ============///

.ct-label {
    font-size: fs(3);
    @extend %font-body;
    fill: theme(text secondary);

}

.ct-line-graph {
    .ct-vertical {
        color: highlight('green');
    }

    .ct-point {
        stroke: theme(border, wash);
    }

    .ct-line {
        stroke: highlight('green');
    }

    .ct-area{
        fill: highlight('green');
    }
}

.chart-title {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

.label-element{
    font-size: fs(3);
    line-height: 100%;
    color: lighten(theme(text secondary), 10);
}

.label-line {
    stroke: darken(theme(border), 10);
    stroke-width: 1px;

}

.bar-chart {
    margin-top: 100px;
    margin-bottom: 100px;
}

.vertical_text{
    transform: rotate(90deg);
    transform-origin: left top 0;
}

.ct-series-a .ct-bar{
    fill: green;
}
