/* ==========================================================================
// Chart module
// -> used for figures/charts
// ========================================================================== */

@import "../core/*";

/* Bar Chart Color Mixin 
// -------------------------------------------------------------------------- */
@mixin chart_color($color) {
    $ct-series-names: (a, b, c, d, e, f, g, h, i, j, k, l, m, n, o);

    $shade: 0;
    $shade-increment: 7;

    @each $series-name in $ct-series-names {
       .ct-series-#{$series-name} .ct-bar {
            stroke: darken(highlight($color), $shade);
        }
            $shade: $shade + $shade-increment;
    }
}

/* Base
// -------------------------------------------------------------------------- */

.ct-label {
    @include font-scale(3);
    @extend %font-body;
    fill: theme(text secondary);

}

.ct-line-graph {
    .ct-vertical {
        color: highlight('green');
    }

    .ct-point {
        stroke: theme(border, wash);
    }

    .ct-line {
        stroke: highlight('green');
    }

    .ct-area{
        fill: highlight('green');
    }
}

.chart-title {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

.label-element{
    @include font-scale(2);
    line-height: 100%;
    color: lighten(theme(text secondary), 10);

    @include respond-to('small') {
        @include font-scale(3);
    }
}

.label-line {
    stroke: darken(theme(border), 10);
    stroke-width: 1px;
}

.js-chart {
    margin: 50px 0px;    
}

.ct-figure-04 {
    @include chart_color('green');
}

.ct-figure-05-sector {
    @include chart_color('blue');
}

.ct-figure-05-region {
    @include chart_color('red');
}

