/* ==========================================================================
// Chart module
// -> used for figures/charts
// ========================================================================== */

@import "../core/*";

/* Bar Chart Color Mixin
// -------------------------------------------------------------------------- */
@mixin chart_color($color) {
    $ct-series-names: (a, b, c, d, e, f, g, h, i, j, k, l, m, n, o); // from chartist settings

    $shade: 0;
    $shade-increment: 7;

    @each $series-name in $ct-series-names {
       .ct-series-#{$series-name} .ct-bar {
            stroke: darken(highlight($color), $shade);
        }
            $shade: $shade + $shade-increment;
    }
}

/* Base
// -------------------------------------------------------------------------- */
.chart {
    margin: 50px 0px;

    img { display: none; }
    .no-js.no-svg img, .ie9 img { display: block; }
}

/* Submodules
// -------------------------------------------------------------------------- */
.chart-title {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

.chart-caption {
    @include font-scale(3);
    font-style: italic;
    color: highlight('green');
    text-align: left;
    display: block;
}

.chart-number {
    @include font-scale(2);
    display: block;
    text-align: left;
    text-transform: uppercase;
    color: lighten(theme(text secondary), 10);
}

.chart-render {
    position: relative;
    clear: both;
    margin: 1em 0;
    overflow: visible;
}

    .chart-axis {
        @include font-scale(2);
        color: theme(text tertiary);
        display: block;
        position: absolute;

        &.y {
            top: 50%;
            left: -8em;
            @include transform(rotate(-90deg) translateY(-50%));
        }
        &.x {}
    }

    .chart-axis-unit {
        @extend %font-body--bold;
        font-size: 0.6em;
        text-transform: uppercase;
    }

    .label-element {
        @include font-scale(2);
        line-height: 100%;
        color: lighten(theme(text secondary), 10);

        @include respond-to('small') {
            @include font-scale(3);
        }
    }

    .label-line {
        stroke: darken(theme(border), 10);
        stroke-width: 1px;
    }

/* Chartist overrides
// -------------------------------------------------------------------------- */
.ct-label {
    @include font-scale(3);
    @extend %font-body;
    fill: theme(text secondary);
}

.ct-line-graph {
    .ct-vertical {
        color: highlight('green');
    }

    .ct-point {
        stroke: theme(border, wash);
    }

    .ct-line {
        stroke: highlight('green');
    }

    .ct-area {
        fill: highlight('green');
    }
}

.ct-figure-04 {
    @include chart_color('green');
}

.ct-figure-05-sector {
    @include chart_color('blue');
}

.ct-figure-05-region {
    @include chart_color('red');
}

