/* ==========================================================================
//  Main navigation modules
// -> the horizontal "table of contents"
// ========================================================================== */

@import "../core/*";

/* Base
// -------------------------------------------------------------------------- */

.jump_nav {
    @include rem(top, fs(6));
    display: none;
    background: #fff;
    width: 180px;
    z-index: $z--high;

    ul, ol { margin: 0; }

    li { margin: 0; }

    @include breakpoint(1100px) { display: block; }
}

/* Submodules
// -------------------------------------------------------------------------- */
.jump_nav-item {
    $border-w: 4px;

    @extend .nav-item;
    display: block;
    position: relative;
    margin: 0;
    padding: 0.5em 0 0.5em $gutter;
    font-size: fs(2);
    line-height: 1.2;
    color: lighten(theme(text tertiary), 30);

    &.is-active:before {
        @include chapter_highlights(background-color);
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: $border-w;
        background-color: theme(highlight);

        .is-above & {
            top: auto;
            bottom: -($border-w/2);
        }
    }
}
