/* ==========================================================================
//  Main navigation modules
// -> the horizontal "table of contents"
// ========================================================================== */

@import "../core/*";
@import "../atoms/text";

$main_nav-break: 'medium';

/* Base
// -------------------------------------------------------------------------- */

.main_nav {
    @include unstyled-list;
    padding: 0 $gutter-outside;
    z-index: $z--high;

    @include respond-to($main_nav-break) { padding: 0; }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: block;
        margin: 0;
        padding: 0;

        @include breakpoint(400px) {
            display: inline-block;
        }
    }
}

/* Modifiers
// -------------------------------------------------------------------------- */

/* ------- STATE: above/below ----------------------------------------------- */
// -> the nav's relationship to the section 'border'.
// -> used to place the highlight rule over or under the active item.
.main_nav.is-above {}


/* Submodules
// -------------------------------------------------------------------------- */

.main_nav-title {
    @extend .nav-item;
    display: inline-block;
    float: left;
    padding: 1.5em 1em;
    color: theme(text primary, reverse);

    // override hover state of default nav link
    &:hover, &:active { color: inherit; }

    @include respond-to($main_nav-break) { display: none; }
}

.main_nav-pagination {
    @include border(left, $color: theme(border, reverse));
    display: inline-block;
    float: right;

    @include respond-to($main_nav-break) { display: none; }

    li {
        @include border(right, $color: theme(border, reverse));

        &:last-child { border: none; }
    }
}

.main_nav-toc {
    @extend .main_nav-item;
}

.main_nav-full {
    display: none;

    @include respond-to($main_nav-break) {
        display: block;
    }
}

.main_nav-item {
    @extend .nav-item;
    @include rem(margin, 0 fs(3));
    display: block;
    position: relative;
    padding: 1.5em 0;
    color: theme(text tertiary, reverse);

    &:hover, &:active { color: theme(text primary, reverse); }

    &.is-active {
        $border-w: 4px;

        @include breakpoint(820px) {
            &:after {
                @include chapter_highlights(background-color);
                content: " ";
                display: block;
                position: absolute;
                top: -($border-w/2);
                left: 0;
                right: 0;
                height: $border-w;
                background-color: theme(highlight);

                .is-above & {
                    top: auto;
                    bottom: -($border-w/2);
                }
            }
        }

        // .top & {
        //     @include chapter_highlights(border-top-color color);
        //     border-bottom: none;
        //     border-top: 4px solid theme(highlight);
        // }
    }
}
