/* ==========================================================================
//  Navigation modules
// ========================================================================== */

// Dependencies
// -----------------------------------------------------------------------------


// local modules
@import "../core/*";

/* Base
// -------------------------------------------------------------------------- */

[role="navigation"], .nav {

}

/* Modifiers
// -------------------------------------------------------------------------- */

/* ------- Global/main nav -------------------------------------------------- */
[role="navigation"], .nav {
    &.main {
        @include inline-list;
        padding-top: 0;
        padding-bottom: 0;

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            margin: 0;
            padding: 0;
        }
    }
}

/* Submodules
// -------------------------------------------------------------------------- */

.nav-item {
    @extend %font-body--bold;
    display: inline-block;

    > a {
        @extend %font-body--bold;
        @include rem(padding, fs(3) fs(3));
        @include font-scale(2);
        display: inline-block;
        text-transform: uppercase;
    }
}
