/* ==========================================================================
//  Pagination modules
// -> "next" and "previous" links that allow you to continue reading
// -> usually appears at the bottom of interior pages
// ========================================================================== */

@import "../core/*";
@import "../atoms/heading";

$pagination-break: 760px;

/* Base
// -------------------------------------------------------------------------- */

.pagination {
    @include chapter_highlights(background-color);
    @include half-circle;
    position: relative;
    padding-top: $gutter-outside;
    padding-bottom: $gutter;
    background-color: theme('highlight');
    font-size: 0;

    a{ border-bottom: none; }
}

/* Submodules
// -------------------------------------------------------------------------- */

.pagination-slug {
    @extend .slug;
    margin-bottom: $gutter;
    color: theme('text' 'secdonary', 'wash');
}

.pagination-wrapper {
    @extend .l-wrapper;

    // use flexbox on larger screens, where supported
    .flexbox & {
        @include breakpoint($pagination-break) {
            display: flex;
            // flex-flow: row wrap;
        }
    }
}

// styles shared by both .pagination-next and .pagination-prev
%pagination-item {
    $padding: fs(5);

    @include rem(padding, $padding $gutter);
    @include rem(font-size, fs(2));
    display: inline-block;
    width: 100%;
    vertical-align: top;

    @include breakpoint($pagination-break) { width: 50%; }

    .flexbox & {
        @include breakpoint($pagination-break) {
            width: auto;
            flex: 1;
        }
    }
}

.pagination-prev {
    @extend %pagination-item;
    @include border(bottom, $color: theme(border, wash));

    @include breakpoint($pagination-break) {
        padding-left: 0;
        text-align: left;
        border-bottom: none;
    }

    .flexbox & {
        @include breakpoint($pagination-break) { @include border(right, $color: theme(border, wash)); }
    }

    // if this is the first chapter, don't show the border
    &:last-of-type { border: none; }
}

.pagination-next {
    @extend %pagination-item;

    @include breakpoint($pagination-break) {
        padding-right: 0;
        text-align: right;
    }
}

.pagination-subtitle {
    @extend %zeta;
    @extend %font-body--bold;
    display: block;
    border-bottom: 0;
    text-transform: uppercase;
    color: theme('text' 'secondary', 'wash');
}

.pagination-title {
    @extend %beta;
    @extend %font-display;
    border-bottom: 0;
    line-height: 1.1;
    color: theme('text' 'primary', 'wash');

    > strong {
        @extend %font-display--bold;
    }
}
