<% wrap_layout :layout do %>
    <%= partial "layouts/partials/header" %>

    <article class="chapter">
        <header class="chapter-hero">
            <h1 class="hero-headline">Our portfolio</h1>
        </header>

        <div class="chapter-section first l-wrapper narrow" id="intro">

        </div>

        <%# yield %>
    </article>
<% end %>
