<% wrap_layout :layout do %>
    <%= partial "layouts/partials/header" %>
    <main class="content">
        <h1 class="title"><%= current_page.data.title %></h1>
        <%= yield %>
    </main>
<% end %>
