<% wrap_layout :layout do %>
    <%= partial "layouts/partials/header" %>
    <main class="l-wrapper narrow">
        <h1 class="beta highlight"><%= current_page.data.title %></h1>
        <%= yield %>
    </main>
<% end %>
