/* ==========================================================================
//  Box modules
// -> an aside/sidebar in the chapter text
// ========================================================================== */

@import "../core/*";
@import "../atoms/heading";

/* Base
// -------------------------------------------------------------------------- */
.box {
    @include half-circle($border: theme(border));
    @include border(top);
    @include rem(padding, fs(6) $gutter-outside);
    position: relative;
    background-color: theme(well);

    // change the border/decoration when two boxes are next to each other
    // -> remove half-circle cutout thingy and add a hairline
    // -> this is the "owl wearing shades" selector: http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
    & + & {
        @include border(top);

        &:before { content: none; }
    }
}

/* Submodules
// -------------------------------------------------------------------------- */

.box-slug {
    @extend .slug;
    @include font-scale(2);
    margin-top: -0.5em;
    color: theme(text tertiary);
}

.box-title {
    @extend %font-accent--bold;
    @include font-scale(4);
    @include chapter_highlights;
    text-align: center;
    color: theme(highlight);

    .box-slug + & { margin-top: 0.25em; }
}

.box-content {
    @extend .content;
    padding-left: 0;
    padding-right: 0;

    img {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    &.wide {
        padding-left: 0;
        padding-right: 0;
    }
}
