/* ==========================================================================
//  Box modules
// -> an aside/sidebar in the chapter text
// ========================================================================== */

@import "../core/*";

/* Base
// -------------------------------------------------------------------------- */
.box {
    @include half-circle;
    @include rem(padding, fs(6) $gutter-outside);
    position: relative;
    background-color: theme(well);

    // change the border/decoration when two boxes are next to each other
    // -> remove half-circle cutout thingy and add a hairline
    // -> this is the "owl wearing shades" selector: http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
    & + & {
        @include border(top);

        &:before { content: none; }
    }
}

/* Submodules
// -------------------------------------------------------------------------- */

.box-title {
    @extend %font-accent--bold;
    @include chapter_highlights;
    font-size: fs(4);
    text-align: center;
    color: theme(highlight);
}

.box-content {
    img {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}
