/* ==========================================================================
// Feed module
// -> A scrollable, vertical list of content bits like blog posts, cards, etc.
// ========================================================================== */

@import "../core/*";

/* Base
// -------------------------------------------------------------------------- */

.feed {
    @include unstyled-list;
    margin-top: $gutter-outside;
    margin-bottom: $gutter-outside;

    &.l-wrapper {
        margin-left: auto;
        margin-right: auto;
        padding-left: $gutter-outside;
    }

    ul { padding: 0; margin: 0; }
}

/* Submodules
// -------------------------------------------------------------------------- */

.feed-item {
    display: block;
    margin-bottom: $gutter;
}
