/* ==========================================================================
//  Footer modules
// ========================================================================== */

@import "../core/*";
@import "../atoms/logo";
@import "../molecules/navigation";

$footer-padding: $gutter-outside;

/* Base
// -------------------------------------------------------------------------- */

[role="contentinfo"], .footer {

}


/* Modifiers
// -------------------------------------------------------------------------- */

// global/main footer @ bottom of each page
[role="contentinfo"].main, .footer.main {
    @extend %theme--reverse;
    padding-top: 0;
    padding-bottom: $footer-padding;
}

/* Submodules
// -------------------------------------------------------------------------- */

.footer-nav {
    @extend .nav.main;
    @include border(bottom, $color: theme(border, reverse));
    width: 100%;

    @include respond-to('small') { text-align: center; }
}

.footer-section {
    padding: $gutter 0;
}
    .footer-lockup {
        border-bottom: none;
    }

    .footer-title {
        @extend %font-accent;
        color: theme(text primary, reverse);
        text-transform: uppercase;

        strong { @extend %font-accent--bold; }
    }

    .footer-logo {
        @extend .logo;
        @include rem(width, 90px);
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.5em;
        color: theme('text' 'primary', 'reverse');
    }

    .footer-affiliate {
        @extend %base-transition;
        @extend %font-accent;
        @include border(top, $color: theme(border, reverse));
        display: block;
        margin-top: $gutter;
        padding-top: 1em;
        color: theme('text' 'primary', 'reverse');

        @include breakpoint(450px) {
            display: inline-block;
            float: right;
            margin: 0;
            padding: 0;
            border: none;
        }
    }

.footer-utility {
    @include inline-list;
    padding-top: $gutter;
    background-color: darken(theme('bg', 'reverse'), 5);

    // if this is the last child in the footer, add padding inside
    &:last-child {
        margin-bottom: -($footer-padding);
        padding-bottom: $footer-padding;
    }

    ul {
        margin: 0;
        padding: 0;
    }
}

    .footer-utility-item {
        margin-right: $gutter;

        &.copyright {
            margin-right: 0;
            float: right;
        }

        a, small {
            @extend %base-transition;
            border-bottom: none;
            color: theme('text' 'tertiary', 'reverse');
        }

        a:hover, a:active {
            color: theme(text primary, reverse);
        }
    }
