/* ==========================================================================
//  Footer modules
// ========================================================================== */

@import "../core/*";
@import "../atoms/logo";
@import "../molecules/main_nav";

$footer-padding: $gutter-outside;
// pull in main nav breakpoint and use it here
$footer-break: $main_nav-break;

/* Base
// -------------------------------------------------------------------------- */

[role="contentinfo"], .footer {

}


/* Modifiers
// -------------------------------------------------------------------------- */

// global/main footer @ bottom of each page
[role="contentinfo"].main, .footer.main {
    @extend %theme--reverse;
    padding-top: 0;
    padding-bottom: $footer-padding;
}

/* Submodules
// -------------------------------------------------------------------------- */

.footer-nav {
    @extend .main_nav;
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: theme(bg, reverse);

    // @include respond-to('small') { text-align: center; }
    @include respond-to($footer-break) {
        @include border(bottom, $color: theme(border, reverse));
        display: inline-block;
        position: relative;
        width: 100%;
        text-align: center;
        background-color: transparent;
    }
}

.footer-section {
    padding: $gutter 0;
}
    .footer-lockup {
        border-bottom: none;
    }

    .footer-title {
        @extend %font-accent;
        color: theme(text primary, reverse);
        text-transform: uppercase;

        strong { @extend %font-accent--bold; }
    }

    .footer-logo {
        @extend .logo;
        @include rem(width, 90px);
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.5em;
        color: theme('text' 'primary', 'reverse');
    }

.footer-subnav {
    @extend %base-transition;
    @extend %font-accent;
    @include border(top, $color: theme(border, reverse));
    display: block;
    margin-top: $gutter;
    margin-left: 0;
    padding-top: 1em;
    padding-left: 0;
    color: theme('text' 'primary', 'reverse');

    @include breakpoint(660px) {
        display: inline-block;
        float: right;
        margin: 0;
        padding: 0;
        border: none;
    }

    > li {
        @include border(right, $color: theme(border, reverse));
        display: inline-block;
        list-style: none;
        padding: 0 1em;

        &:first-child { padding-left: 0; }
        &:last-child {
            padding-right: 0;
            border: none;
        }
    }
}

    .footer-subnav-item {
        @extend %base-transition;
        @extend %font-accent;
        @include font-scale(3);
        color: theme(text primary, reverse);

        &:hover, &:active {
            @include chapter_highlights(color);
            color: theme(highlight);
            border-bottom: 0;
        }
    }

.footer-utility {
    @include inline-list;
    padding-top: $gutter;
    background-color: darken(theme('bg', 'reverse'), 5);

    // if this is the last child in the footer, add padding inside
    &:last-child {
        margin-bottom: -($footer-padding);
        padding-bottom: $footer-padding;
    }

    ul {
        margin: 0;
        padding: 0;
    }
}

    .footer-utility-item {
        margin-right: $gutter;

        &.copyright {
            margin-right: 0;
            float: right;
        }

        a, small {
            @extend %base-transition;
            border-bottom: none;
            color: theme('text' 'tertiary', 'reverse');
        }

        a:hover, a:active {
            color: theme(text primary, reverse);
        }
    }
