/* ==========================================================================
//  Footer modules
// ========================================================================== */

@import "../core/*";
@import "../atoms/logo";
@import "../molecules/nav";

$footer-padding: $gutter-outside;
// pull in main nav breakpoint and use it here
$footer-break: $nav-break;

/* Base
// -------------------------------------------------------------------------- */

.main_footer {
    @extend %theme--reverse;
    position: relative;
    z-index: $z--footer;
    padding-top: 0;
    padding-bottom: $footer-padding;
    text-align: center;
    background-color: theme(bg, reverse);
}

/* Submodules
// -------------------------------------------------------------------------- */


.footer-toc {
    @extend .nav-toc;
    bottom: 145px;
    right: ($gutter - 10px);

    @include respond-to($footer-break) {
        display: inline-block;
        bottom: auto;
        right: auto;
        text-align: center;
        background-color: transparent;
    }
}

.footer-section {
    padding: $gutter 0;
    text-align: left;
}
    .footer-lockup {
        display: inline-block;
        vertical-align: middle;
        border-bottom: none;
    }

    .footer-logo {
        @extend .logo;
        @include rem(width, 90px);
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.5em;
        color: theme('text' 'primary', 'reverse');
    }

    .footer-title {
        @extend %font-accent;
        display: inline-block;
        vertical-align: middle;
        color: theme(text primary, reverse);
        text-transform: uppercase;

        strong { @extend %font-accent--bold; }
    }

    .footer-flyout {
        @extend .nav-flyout;
        display: inline-block;
        vertical-align: middle;
        float: right;
        border-bottom: none;
        padding: 0.4em 0;
        margin: 0;

        @include respond-to($footer-break) { display: none; }
    }

.footer-subnav {
    @extend %base-transition;
    @extend %font-accent;
    @include border(top, $color: theme(border, reverse));
    display: block;
    margin-top: $gutter;
    margin-left: 0;
    margin-bottom: 0;
    padding-top: 1em;
    padding-left: 0;
    color: theme('text' 'primary', 'reverse');

    @include respond-to($footer-break) {
        display: inline-block;
        float: right;
        margin: 0;
        padding: 0;
        border: none;
    }

    > li {
        @include border(right, $color: theme(border, reverse));
        display: inline-block;
        list-style: none;
        padding: 0 1em;

        &:first-child { padding-left: 0; }
        &:last-child {
            padding-right: 0;
            border: none;
        }
    }
}

    .footer-subnav-item {
        @extend %base-transition;
        @extend %font-accent;
        @include font-scale(3);
        color: theme(text primary, reverse);

        &:hover, &:active {
            @include chapter_highlights(color);
            color: theme(highlight);
            border-bottom: 0;
        }
    }

.footer-utility {
    @include inline-list;
    padding-top: $gutter;
    text-align: left;
    background-color: darken(theme('bg', 'reverse'), 5);

    // if this is the last child in the footer, add padding inside
    &:last-child {
        margin-bottom: -($footer-padding);
        padding-bottom: $footer-padding;
    }

    ul {
        margin: 0;
        padding: 0;
    }
}

    .footer-utility-item {
        margin-right: $gutter;

        &.copyright {
            display: block;
            margin-top: 0.5em;

            @include respond-to('small') {
                margin-top: 0;
                margin-right: 0;
                float: right;
            }
        }

        a, small {
            @extend %base-transition;
            border-bottom: none;
            color: theme('text' 'tertiary', 'reverse');
        }

        a:hover, a:active {
            color: theme(text primary, reverse);
        }
    }
