/* ===========================================================================
//  Header module
// ========================================================================== */

@import "../core/*";
@import "../atoms/logo";
@import "../molecules/main_nav";

$header-h: 36px;
// pull in the main_nav's breakpoint and use it here
$header-break: $main_nav-break;

// vertically center the children of an inline block element
@mixin inline-block--centered($h: auto) {
  display: inline-block;
  vertical-align: middle;
  height: $h;

  &::before, &:before {
    display: inline-block;
    content: " ";
    vertical-align: middle;
    height: 100%;
  }
}

/* Base
// -------------------------------------------------------------------------- */

.main_header {
    @include rem(min-height, 40px);
    @include clearfix;
    display: block;
    position: absolute;
    width: 100%;
    z-index: $z--nav;
    text-align: center;

    @include respond-to($header-break) {
        position: relative;
        text-align: left;
        color: theme(text primary, reverse);
        background-color: theme(bg, reverse);
    }
}

/* Submodules
// -------------------------------------------------------------------------- */

.header-logo {
    @extend .logo;
    @include rem(max-width, 120px);
    @include rem(padding, 16px);
    display: inline-block;
    z-index: $z--high;
    background-color: theme(bg);

    @include respond-to($main_nav-break) {
        $h: 28px;

        @include rem(height, $h);
        @include rem(width, 70px);
        @include rem(margin-top, -($h/2));
        display: inline-block;
        position: absolute;
        top: 50%;
        margin-left: $gutter-outside;
        padding: 0;
        max-width: auto;
        border-bottom: none;
        color: theme(text primary, reverse);
        background-color: transparent;
    }
}

.header-nav {
    @extend .main_nav;
    // display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $z--nav;
    padding-left: $gutter-outside;
    background-color: theme(bg, reverse);

    @include respond-to($header-break) {
        display: inline-block;
        z-index: $z--middle;
        position: relative;
        float: right;
        margin-right: $gutter-outside;
    }
}
