---
title: Power for Kenya's Urban Poor
chapter: portfolio
order: 4
type: box
box_number: 1
---

When people imagine energy poverty they tend to picture rural villages and remote areas, but in many parts of the world energy poverty is an urban issue. In Nairobi, an estimated two million people live in informal settlements, many below the poverty line. One the factors keeping people in poverty is a lack of electricity. Markets are unable to trade after dark, clinics cannot provide basic services, and children are unable to study at night. The unlit streets are unsafe. Many people rely on illegal electricity connections, buying power from local
cartels at inflated prices. These connections are unreliable and unsafe, and fires and electrocutions are common.

> ‘Illegal electricity has many problems. It makes you uneasy. You always worry that your business will burn down. [The KPLC connection] has helped me as a shopkeeper. Now I have a security light and a fridge which I use to make ice cream. For me it has been good.’
> <cite>- **James Nadi**, resident, Mathare Settlement</cite>
{: .pullquote}

A program implemented by the Kenya Power and Light Corporation (KPLC), with support from the World Bank, GPOBA, and the Energy Sector Management Assistance Program (ESMAP) has succeeded in connecting 150,000 households to safe, reliable and affordable electricity. ESMAP brought in experts from other parts of the world who were experienced in bringing electricity to informal settlements. A grant from GPOBA subsidized the start-up cost of the connections, making them affordable for new customers. Once the connection is installed, customers pay for electricity as they go, buying chits at local shops. The output- based aid approach, in which grant money is only disbursed once results have been achieved and independently verified, meant that communities could see firsthand that the program worked and could be trusted. This helped to foster a sense of ownership among the community, which was key to the project’s success.

In a [video](http://www.gpoba.org/Video.Kenya.Slum.Electrification) documenting the ways in which the project addressed electricity access challenges in informal settlements, residents and representatives of KPLC discuss the benefits of safe and reliable power.


<figure class="wrapper-video">

    <iframe src="https://cdnapisec.kaltura.com/p/619672/sp/61967200/embedIframeJs/uiconf_id/26723411/partner_id/619672?iframeembed=true&playerId=kaltura_player_1445016796&entry_id=1_564xi1h9&flashvars[streamerType]=rtmp&flashvars[mediaProtocol]=rtmp" width="690" height="400" allowfullscreen webkitallowfullscreen mozAllowFullScreen frameborder="0" itemprop="video" itemscope itemtype="http://schema.org/VideoObject" alt="Power for Kenya’s Urban Poor - ESMAP - English">
    <span itemprop="name" content="Power for Kenya’s Urban Poor - ESMAP - English"></span>
    <span itemprop="description" content="Using a community-based approach, Kenya Power has gone from 5,000 households connected under its informal settlements program, to over 150,000, in just one year."></span>
    <span itemprop="duration" content="379"></span>
    <span itemprop="thumbnail" content="https://cfvod.kaltura.com/p/619672/sp/61967200/thumbnail/entry_id/1_564xi1h9/version/100031/acv/361"></span>
    <span itemprop="width" content="690"></span>
    <span itemprop="height" content="400"></span>
    </iframe>

</figure>
