/* ==========================================================================
// Chapter module
// -> a major content area of the Annual Report
// -> in the print version, this is stuff in the table of contents
// ========================================================================== */

@import "../core/*";
@import "../atoms/heading";
@import "../atoms/text";
@import "../molecules/hero";

$chapter-padding: fs(6);

/* Base
// -------------------------------------------------------------------------- */

.chapter {
    @include rem(padding-top, $chapter-padding);
    @include rem(padding-bottom, $chapter-padding);
    position: relative;
}

/* Submodules
// -------------------------------------------------------------------------- */

.chapter-hero {
    @extend .hero;
    height: 370px;
    height: 60vh;
    margin-bottom: 0;

    &:first-child { margin-top: -($chapter-padding); }
}

.chapter-title {
    @extend %alpha;
    text-align: center;
}

.chapter-subtitle {
    @extend %beta;
    text-align: center;
    margin-bottom: 1em;
}

.chapter-section {
    @include border(top);
    @include rem(padding, fs(5));

    &.first { border-top: none; }
}

.chapter-aside {
    @include rem(margin-top, fs(5));
    @include rem(padding-top, fs(5));
    @include rem(padding-bottom, fs(5));
    background-color: theme('well');

    // if this is the last thing in the container, make it flush with the bottom
    &:last-child {
        @include rem(margin-bottom, -($chapter-padding));
    }
}

.chapter-content {
    img { margin: 1em 0; }
}
