/* ==========================================================================
// Chapter module
// -> a major content area of the Annual Report
// -> in the print version, this is stuff in the table of contents
// ========================================================================== */

@import "../core/*";
@import "../atoms/heading";
@import "../atoms/text";
@import "../molecules/hero";
@import "../molecules/jump_nav";

$chapter-padding: fs(6);

// print out the chapter-hero height in px and vh units
// -> used in .chapter-hero and also .chapter-jump_nav
@mixin chapter-hero-h($attr: height) {
        #{$attr}: 370px;
        #{$attr}: 70vh;
}

/* Base
// -------------------------------------------------------------------------- */

.chapter {
    position: relative;
}

/* Submodules
// -------------------------------------------------------------------------- */

.chapter-hero {
    @extend .hero;
    @include chapter-hero-h;
    position: relative;
    margin-bottom: 0;
}

.chapter-hero-lockup {
    @extend .hero-headline;
}

// headline lockup appearing in a hero
.chapter-hero-headline {
    @include rem(font-size, 54px);
    margin: 0;
    letter-spacing: -0.04em;
    line-height: 1;
    color: theme(bg);

    @include respond-to('xsmall') { @include rem(font-size, 68px); }
    @include respond-to('small') { @include rem(font-size, 76px); }
    @include respond-to('medium') { @include rem(font-size, 85px); }
    @include respond-to('large') { @include rem(font-size, 90px); }
}

// subtitle to chapter-headine
.chapter-hero-subtitle {
    @extend %delta;
    @extend %font-accent;
    display: block;
    letter-spacing: 0;
    color: theme(bg);
}

// the chapter title, generally not in a hero (see homepage)
.chapter-headline {
    position: relative;
    margin: 1em 0 0.4em;
    text-align: center;
    color: theme(text primary);

    @include respond-to('xsmall') { @include rem(font-size, 54px); }
    @include respond-to('medium') { @include rem(font-size, 68px); }
    @include respond-to('large') { @include rem(font-size, 72px); }
}

// section header
.chapter-subtitle {
    @extend %beta;
    @include chapter_highlights;
    text-align: center;
    margin: 0.5em auto 0 auto;
    padding: 0 $gutter-outside;
    margin-bottom: 0.5em;
    // max-width: add_outside_gutters($layout-w);
    letter-spacing: -0.02em;
    color: theme(highlight);

    @include respond-to('medium') { max-width: add_outside_gutters($layout-w--narrow); }
    @include respond-to('large') { max-width: add_outside_gutters($layout-w); }
}

.chapter-jump_nav {
    @extend .jump_nav;
    @include chapter-hero-h(top);
    @include rem(padding-top, fs(5));
    @include rem(padding-bottom, $gutter-outside);
    position: absolute;
    left: 0;

    &.is-fixed {
        position: fixed;
        top: 0;
    }

    &.at-bottom {
        top: auto;
        bottom: 0;
    }
}

.chapter-section {
    @include border(top);
    @include rem(padding-top, fs(5));
    @include rem(padding-bottom, fs(5));

    &.first {
        border-top: none;

        p:first-of-type, p:first-child {
            @extend .lead;
        }
    }

    h3 {
        margin-top: 1em;
        margin-bottom: 0;
    }

    img {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    // p, ul, ol {
    //     @extend %l-wrapper--narrow;
    // }

    // table {
    //     @extend %l-wrapper--wide;
    // }
}
