/* ==========================================================================
// Chapter module
// -> a major content area of the Annual Report
// -> in the print version, this is stuff in the table of contents
// ========================================================================== */

@import "../core/*";
@import "../atoms/heading";
@import "../molecules/nav";
@import "../molecules/content";
@import "../organisms/feed";

$chapter-padding: fs(6);
$message-break: $nav-break; // pull in reference to navigation breakpoint

/* Base
// -------------------------------------------------------------------------- */

.message {
    position: relative;

    // add some padding to clear the header on small screens
    @include rem(padding-top, fs(8));

    @include respond-to($message-break) { padding-top: 0; }
}

/* Base
// -------------------------------------------------------------------------- */

// "back to report" link
.message-nav {
    @extend %l-wrapper--narrow;
    @include rem(padding-bottom, $gutter/2);
    @include border(bottom);

    @include respond-to($message-break) { @include rem(padding-top, $gutter/2); }
}

// headines
.message-header {
    @extend %l-wrapper--narrow;
    @include rem(margin, fs(6) auto);
    // text-align: center;
}

    .message-slug {
        @extend .slug;
        text-align: left;
        text-transform: none;
        // color: theme(text tertiary);

        // strong { color: theme(text primary); }
    }

    .message-title {
        @extend %beta;
        @include chapter_highlights;
        color: theme(highlight);
    }

    .message-subtitle {
        @extend %epsilon;
        @extend %font-accent;
        color: theme(text tertiary);
    }

// author portraits, names
.message-feed {
    @extend .feed;
    @include border(top bottom);
    display: block;
    position: relative;
    padding-top: $gutter;

    @include respond-to('large') {
        @include rem(width, 180px);
        @include rem(margin-right, -(180px + $gutter));
        float: right;
        margin-top: 0;
        padding-top: 0;
        border: none;
    }
}

// main content
.message-content {
    @extend %l-wrapper--narrow;
    padding-bottom: 2.5em;

    p:first-of-type, p:first-child {
        @extend .lead;
    }
}
