<header class="main">
    <a class="header-logo" href="/">
        <%= partial("layouts/partials/logo") %>
    </a>
    <%= partial("layouts/partials/nav-main", :locals => { :classes => "header-nav is-above" }) %>
</header>
