<%# local vars used by main nav %>
<%# @PARAM page_title, string %>
<%# @PARAM prev_page_slug, string %>
<%# @PARAM prev_page_url, string %>
<%# @PARAM next_page_slug, string %>
<%# @PARAM next_page_url, string %>

<header class="main_header">
    <a class="header-logo" href="/">
        <%= partial("layouts/partials/logo") %>
    </a>
    <%= partial("layouts/partials/nav-main", :locals => { :classes => "header-nav is-above" }) %>
</header>
