<% classes ||= "main" %>

<nav class="<%= classes %>" role="navigation">
    <ul>
        <% data.chapters.each do |chapter| %>
            <% @url = "#{data.site.paths.chapter}#{chapter.slug.urlize}/" %>
            <li class="nav-item<% if current_dir? @url %> is-active<% end %>"><a href="<%= url_for(@url) %>"><%= chapter.slug %></a></li>
        <% end %>
    </ul>
</nav>
