<% classes ||= "main" %>
<% show_home ||= false %>

<nav class="<%= classes %>" role="navigation">
    <ul>
        <% if show_home == true %>
            <li>
                <a class="nav-item<% if current_dir? "/" %> is-active<% end %>" href="/">Home</a>
            </li>
        <% end %>
        <% data.chapters.each do |chapter| %>
            <% current_url = "#{data.site.paths.chapter}#{chapter.slug.urlize}/" %>
            <li>
                <a class="nav-item<% if current_dir? current_url %> is-active<% end %>" href="<%= asset_url(current_url) %>"><%= chapter.slug %></a>
            </li>
        <% end %>
    </ul>
</nav>
