<% classes ||= "main_nav" %>

<nav class="<%= classes %>" role="navigation">
    <ul>
        <li>
            <a class="main_nav-item<% if current_page? "index.html" %> is-active<% end %>" href="/">Home</a>
        </li>
        <% data.chapters.each do |chapter| %>
            <% current_url = "#{data.site.paths.chapter}#{chapter.slug.urlize}/" %>
            <li>
                <a class="main_nav-item<% if current_dir? current_url %> is-active<% end %>" href="<%= asset_url(current_url) %>"><%= chapter.slug %></a>
            </li>
        <% end %>
    </ul>
</nav>
