<svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-arrow-right-large" viewBox="0 0 1024 1024">
	<title>arrow-large</title>
	<path class="arrow" d="M1024 512c0 282.77-229.23 512-512 512s-512-229.23-512-512c0-282.77 229.23-512 512-512s512 229.23 512 512z"></path>
	<path class="circle" d="M406.503 350.717l231.849 193.208v-44.528l-231.849 193.208c-12.296 10.247-13.957 28.521-3.711 40.817s28.521 13.957 40.817 3.711l258.566-215.471-258.566-215.471c-12.296-10.247-30.571-8.585-40.817 3.711s-8.585 30.571 3.711 40.817v0z"></path>
</symbol>
<symbol id="icon-arrow-right" viewBox="0 0 1024 1024">
	<title>arrow</title>
	<path class="arrow" d="M501.76 1006.923c271.459 0 491.52-220.061 491.52-491.52s-220.061-491.52-491.52-491.52c-271.459 0-491.52 220.061-491.52 491.52s220.061 491.52 491.52 491.52z"></path>
	<path class="circle" d="M393.618 342.069l245.76 204.8v-62.933l-245.76 204.8c-17.378 14.482-19.726 40.31-5.244 57.688s40.31 19.726 57.688 5.244l283.52-236.266-283.52-236.266c-17.378-14.482-43.206-12.134-57.688 5.244s-12.134 43.206 5.244 57.688v0z"></path>
</symbol>
<symbol id="icon-bracket-bottom-left" viewBox="0 0 1024 1024">
	<title>bracket-bottom-left</title>
	<path class="path1" d="M23.948 32.743v980.093h976.103v-212.971h-763.753v-767.122h-212.35z"></path>
</symbol>
<symbol id="icon-bracket-bottom-right" viewBox="0 0 1024 1024">
	<title>bracket-bottom-right</title>
	<path class="path1" d="M1000.052 32.743v980.093h-976.103v-212.971h763.753v-767.122h212.35z"></path>
</symbol>
<symbol id="icon-bracket-top-left" viewBox="0 0 1024 1024">
	<title>bracket-top-left</title>
	<path class="path1" d="M23.948 1012.836v-980.093h976.103v212.971h-763.753v767.122h-212.35z"></path>
</symbol>
<symbol id="icon-bracket-top-right" viewBox="0 0 1024 1024">
	<title>bracket-top-right</title>
	<path class="path1" d="M1000.052 1012.836v-980.093h-976.103v212.971h763.753v767.122h212.35z"></path>
</symbol>
<symbol id="icon-check" viewBox="0 0 1024 1024">
	<title>check</title>
	<path class="path1" d="M508.23 21.313c-273.619 0-495.43 221.891-495.43 495.608s221.811 495.608 495.43 495.608c273.619 0 495.43-221.891 495.43-495.608s-221.811-495.608-495.43-495.608v0zM423.942 783.874l-234.069-234.216 99.663-99.718 134.401 134.486 310.289-310.4 99.709 99.677-409.993 410.171z"></path>
</symbol>
<symbol id="icon-link-external" viewBox="0 0 1024 1024">
	<title>link-external</title>
	<path class="path1" d="M512 0c-282.771 0-512 229.232-512 512 0 282.771 229.229 512 512 512 282.768 0 512-229.229 512-512 0-282.768-229.232-512-512-512v0zM847.549 278.501h-106.213c-17.659-52.184-41.671-101.011-72.053-143.914 72.274 30.156 134.027 80.466 178.265 143.914v0zM777.681 472.755c-2.023-38.967-7.009-77.844-14.99-115.769h127.65c14.878 36.275 24.695 75.152 28.568 115.769h-141.227zM918.908 551.243c-3.882 40.724-13.737 79.696-28.679 116.048h-127.21c7.914-38.025 12.82-76.999 14.759-116.048h141.131zM551.243 278.501v-159.493c47.044 41.4 82.402 97.056 106.834 159.493h-106.834zM682.389 356.986c8.938 37.851 14.46 76.894 16.705 115.769h-147.849v-115.769h131.144zM472.755 116.828v161.673h-109.344c24.864-63.54 61.050-120.057 109.344-161.673v0zM472.755 356.986v115.769h-150.359c2.242-38.877 7.767-77.921 16.702-115.769h133.657zM472.755 551.243v116.048h-134.040c-8.856-37.955-14.289-77.098-16.431-116.048h150.471zM472.755 745.78v163.256c-48.697-41.959-85.072-99.070-109.953-163.256h109.953zM551.243 906.851v-161.071h107.443c-24.452 63.075-60.006 119.323-107.443 161.071v0zM551.243 667.29v-116.048h147.961c-2.145 38.952-7.578 78.092-16.431 116.048h-131.529zM351.12 136.107c-29.872 42.533-53.516 90.828-70.967 142.393h-103.707c43.505-62.392 103.943-112.083 174.674-142.393v0zM243.806 472.755h-138.715c3.872-40.617 13.687-79.494 28.565-115.769h125.142c-7.981 37.925-12.964 76.802-14.992 115.769v0zM258.471 667.29h-124.702c-14.942-36.352-24.797-75.326-28.677-116.048h138.618c1.936 39.049 6.847 78.025 14.761 116.048v0zM176.642 745.78h102.989c17.135 51.063 40.299 98.97 69.572 141.277-69.801-30.34-129.471-79.581-172.561-141.277v0zM671.145 888.653c29.805-42.702 53.365-91.163 70.713-142.873h105.494c-43.838 62.77-104.833 112.677-176.208 142.873v0z"></path>
</symbol>
<symbol id="icon-sector-education" viewBox="0 0 1024 1024">
	<title>sector-education</title>
	<path class="path1" d="M973.552 307.701l-105.744 105.481-265.265-264.367 105.84-104.817c14.562-15.272 35.692-24.189 57.298-24.189 21.701 0 42.831 8.917 58.059 24.189l149.813 148.736c14.658 15.177 23.605 36.141 23.605 57.768s-8.947 42.591-23.605 57.199v0zM582.078 297.551c-3.807 0-7.614 1.233-10.85 4.363l-345.597 344.426c-3.141 3.225-4.473 7.114-4.473 10.909 0 8.158 5.806 13.944 14.087 13.944 3.807 0 7.614-1.328 10.85-4.458l345.502-344.426c3.236-3.13 4.473-7.019 4.473-10.814 0-8.253-5.616-13.944-13.991-13.944v0zM320.62 843.359l-149.813-149.305-57.964 57.863v67.918h81.569v81.387h68.244l57.964-57.863zM826.88 453.876l-530.435 528.639h-265.265v-264.367l530.53-528.639 265.17 264.367z"></path>
</symbol>
<symbol id="icon-sector-energy" viewBox="0 0 1024 1024">
	<title>sector-energy</title>
	<path class="path1" d="M965.755 362.509l-216.115 214.592 80.944 80.571-86.108 85.916c-117.989 117.491-297.953 134.219-431.436 46.125l-194.961 194.3h-97.53v-97.2l194.961-194.3c-88.293-133.031-71.608-312.286 46.381-429.876l86.009-85.817 80.845 80.472 215.519-215.284c26.816-26.329 70.615-26.329 97.53 0 26.816 26.923 26.816 70.871 0 97.2l-215.519 215.185 126.034 125.607 216.115-214.592c26.816-26.824 70.416-26.824 97.331 0 26.419 26.824 26.419 70.277 0 97.101z"></path>
</symbol>
<symbol id="icon-sector-health" viewBox="0 0 1024 1024">
	<title>sector-health</title>
	<path class="path1" d="M825.915 486.965c0-22.197-18.465-40.694-40.832-40.694h-203.97v-203.279c0-22.291-18.56-40.694-40.832-40.694h-81.569c-22.367 0-40.832 18.402-40.832 40.694v203.279h-204.065c-22.272 0-40.737 18.497-40.737 40.694v81.293c0 22.291 18.465 40.694 40.737 40.694h204.065v203.374c0 22.197 18.465 40.599 40.832 40.599h81.569c22.272 0 40.832-18.402 40.832-40.599v-203.374h203.97c22.367 0 40.832-18.402 40.832-40.694v-81.293zM989.148 832.72c0 100.928-82.235 182.885-183.696 182.885h-612.004c-101.366 0-183.601-81.957-183.601-182.885v-610.121c0-101.023 82.235-182.979 183.601-182.979h612.004c101.461 0 183.696 81.957 183.696 182.979v610.121z"></path>
</symbol>
<symbol id="icon-sector-ict" viewBox="0 0 1024 1024">
	<title>sector-ict</title>
	<path class="path1" d="M557.214 786.972c0-4.789-3.781-8.4-8.428-8.4h-84.441c-4.726 0-8.507 3.611-8.507 8.4s3.781 8.4 8.507 8.4h84.441c4.647 0 8.428-3.611 8.428-8.4v0zM202.673 627.141c0 8.871 7.877 16.8 16.857 16.8h573.991c8.98 0 16.935-7.929 16.935-16.8v-370.218c0-8.949-7.956-16.8-16.935-16.8h-573.991c-8.98 0-16.857 7.85-16.857 16.8v370.218zM135.089 627.141v-370.218c0-46.238 38.046-84.155 84.441-84.155h573.991c46.474 0 84.441 37.917 84.441 84.155v370.218c0 46.238-37.967 84.076-84.441 84.076h-573.991c-46.395 0-84.441-37.838-84.441-84.076v0zM1013.051 744.894v50.477c0 27.868-37.967 50.477-84.441 50.477h-844.091c-46.474 0-84.519-22.609-84.519-50.477v-50.477h1013.051z"></path>
</symbol>
<symbol id="icon-sector-swm" viewBox="0 0 1024 1024">
	<title>sector-swm</title>
	<path class="path1" d="M998.196 508.899c15.313 25.464 6.261 61.046-8.545 84.739-30.542 47.386-98.564 58.769-149.58 72.85 0 0-19.29-40.051-150.172-246.291l177.415-110.119 10.745-6.239 120.138 205.060zM845.147 855.106c-14.636 36.762-55.5 40.135-55.5 40.135s-40.187 3.963-124.114 6.745l4.569 92.665-130.375-207.252 119.545-204.47 3.976 97.724c192.22 23.187 288.5-28.246 288.5-28.246l-106.601 202.699zM877.466 129.386l-124.622 210.625-237.483-11.299 85.619-48.567c-68.022-180.186-158.125-242.244-158.125-242.244l229.446 0.506c39.679-3.373 61.253 30.523 61.253 30.523s22.082 34.402 63.453 107.336l80.458-46.881zM356.644 376.183l-179.614-105.65-10.745-6.745 127.498-201.097c15.821-24.789 51.524-33.896 79.274-31.029 56.685 5.059 97.548 59.865 133.759 98.82 0 0-26.566 34.992-150.172 245.701v0zM464.937 899.204l-1.1 12.395-238.076-16.358c-29.527-2.192-53.893-29.848-64.637-54.722-22.589-52.53 6.853-114.756 23.858-164.925 0 0 43.571 6.745 288.415 15.767l-8.46 207.843zM356.136 574.414l-83.335-51.94c-127.498 145.195-139.427 253.037-139.427 253.037l-107.701-201.603c-22.082-32.799-2.2-68.381-2.2-68.381s19.797-35.582 64.553-106.156l-79.274-48.567 245.352 9.528 102.032 214.082z"></path>
</symbol>
<symbol id="icon-sector-water" viewBox="0 0 1024 1024">
	<title>sector-water</title>
	<path class="path1" d="M514 713.709c-8.641-13.264-43.898-58.3-57.902-102.743-2.086-7.226-8.641-10.591-14.004-10.591-5.264 0-11.918 3.365-13.904 10.591-14.004 44.443-49.262 89.479-57.902 102.743-7.945 13.362-13.309 29.2-13.309 45.828 0 47.016 37.939 84.827 85.115 84.827 47.275 0 85.215-37.811 85.215-84.827 0-16.629-5.363-32.466-13.309-45.828zM527.309 1014.118c-188.306 0-340.66-151.837-340.66-339.506 0-66.911 20.658-129.27 53.93-182.324 33.867-52.955 176.19-232.705 230.119-411.664 8.641-28.606 35.258-42.463 56.611-42.463s48.566 13.857 56.512 42.463c53.93 178.958 196.351 358.708 230.218 411.664 33.867 53.054 53.83 115.412 53.83 182.324 0 187.669-152.353 339.506-340.56 339.506z"></path>
</symbol>
</defs>
</svg>
