<footer class="main" role="contentinfo">
    <div class="l-wrapper">
        <%= partial("layouts/partials/nav-main", :locals => { :classes => "footer-nav" }) %>
        <div class="footer-section">
            <span class="footer-logo">GPOBA</span> <span class="footer-title">Annual Report <strong>2015</strong></span>
            <a href="http://gpoba.org" class="footer-affiliate">gpoba.org</a>
        </div>
    </div>
    <div class="footer-utility">
        <div class="l-wrapper">
            <ul>
                <li class="footer-utility-item"><a href="">Acronyms &amp; Abbreviations</a></li>
                <li class="footer-utility-item"><a href="">Legal</a></li>
                <li class="footer-utility-item copyright"><small>&copy; Copyright 2015 World Bank Group, all rights reserved.</small></li>
            </ul>
        </div>
    </div>
</footer>
