<nav class="main">
    <ul>
        <li><a href="#">Overview</a></li>
        <li><a href="#">Our portfolio</a></li>
        <li><a href="#">New business</a></li>
        <li><a href="#">Building a COE</a></li>
    </ul>
</nav>
