<% classes ||= "main" %>

<nav class="<%= classes %>" role="navigation">
    <ul>
        <li><a href="#">Overview</a></li>
        <li><a href="#">Our portfolio</a></li>
        <li><a href="#">New business</a></li>
        <li><a href="#">Center of Expertise</a></li>
    </ul>
</nav>
