/* =============================================================================
// Decoration helpers
// -> shapes, corners, etc.
// ===========================================================================*/

@import "libs";
@import "color";

// add a half-circle cutout to a container @ top & center
// @param $w (number): width
// @param $color (hex or rgb): color of the circle
@mixin half-circle($w:30px, $color: theme(bg), $border: false) {
    position: relative;

    &:before {
        content: " ";
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -($w/2);
        top: -1px;
        z-index: $z--high;
        height: ($w/2);
        width: $w;
        border-radius: 0 0 $w $w;
        background-color: $color;

        @if $border != false {
            @include border(bottom left right, $color: $border);
        }
    }
}

// add corner bracket decorations to a container.
// -> defaults to nothing, displays svgs if svg & multiple bgs are supported.
// @param $color (string): color of bracket
// @param $size (string): size.
// @param $z: z-index of pseudo element. modify to sit above your container.
//
// usage: .my_container { @include brackets(orange, small, 20); }
@mixin brackets($color: 'black', $size: 18px, $z: $z--middle) {
    .multiplebgs.svg & {
        &:before, &:after {
            content: " ";
            position: absolute;
            left: 0;
            right: 0;
            height: $size;
            z-index: $z;
            background-repeat: no-repeat;
            background-size: #{$size}, #{$size};
        }

        &:before {
            top: 0;
            background-position: top left, top right;
        }

        &:after {
            bottom: 0;
            background-position: bottom left, bottom right;
        }
    }

    // loop through the $highlights map in the color library and output highlight-colored brackets for each
    @if $color == 'highlight' {
        .multiplebgs.svg & {
            &:before {
                background-image:
                    url(image_path("icons/bracket-top-left-black.svg")),
                    url(image_path("icons/bracket-top-right-black.svg"));
            }

            &:after {
                background-image:
                    url(image_path("icons/bracket-bottom-left-black.svg")),
                    url(image_path("icons/bracket-bottom-right-black.svg"));
            }
        }

        @each $name, $highlight in $highlights {
            .multiplebgs.svg .theme-highlight.#{$name} {
                &:before {
                    background-image:
                        url(image_path("icons/bracket-top-left-#{$name}.svg")),
                        url(image_path("icons/bracket-top-right-#{$name}.svg"));
                }

                &:after {
                    background-image:
                        url(image_path("icons/bracket-bottom-left-#{$name}.svg")),
                        url(image_path("icons/bracket-bottom-right-#{$name}.svg"));
                }
            }

            .multiplebgs.svg &.theme-highlight.#{$name} {
                &:before {
                    background-image:
                        url(image_path("icons/bracket-top-left-#{$name}.svg")),
                        url(image_path("icons/bracket-top-right-#{$name}.svg"));
                }

                &:after {
                    background-image:
                        url(image_path("icons/bracket-bottom-left-#{$name}.svg")),
                        url(image_path("icons/bracket-bottom-right-#{$name}.svg"));
                }
            }
        }
    } @else {
        .multiplebgs.svg & {
            &:before {
                background-image:
                    url(image_path("icons/bracket-top-left-#{$color}.svg")),
                    url(image_path("icons/bracket-top-right-#{$color}.svg"));
            }

            &:after {
                background-image:
                    url(image_path("icons/bracket-bottom-left-#{$color}.svg")),
                    url(image_path("icons/bracket-bottom-right-#{$color}.svg"));
            }
        }
    }
}
