/* =============================================================================
// Decoration helpers
// -> shapes, corners, etc.
// ===========================================================================*/

// add a half-circle cutout to a container @ top & center
// @param $w (number): width
// @param $color (hex or rgb): color of the circle
@mixin half-circle($w:30px, $color: theme(bg)) {
    position: relative;

    &:before {
        content: " ";
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -($w/2);
        top: 0;
        z-index: $z--high;
        height: ($w/2);
        width: $w;
        border-radius: 0 0 $w $w;
        background-color: $color;
    }
}

// add corner bracket decorations to a container.
// -> defaults to nothing, displays pngs in multiple bgs are supported, displays svgs if svg is supported.
// @param $color (string): color of bracket
// @param $size (string): size.
// @param $z: z-index of pseudo element. modify to sit above your container.
//
// usage: .my_container { @include brackets(orange, small, 20); }
@mixin brackets($color: black, $size: 18px, $z: $z--middle) {
    .multiplebgs &:before {
        @include position(absolute, 0 0 null 0);
        content: " ";
        height: #{$size};
        z-index: $z;
        background-image:
            url(image_path("icons/bracket-top-left-#{$color}.png")),
            url(image_path("icons/bracket-top-right-#{$color}.png"));
        background-position: top left, top right, bottom left, bottom right;
        background-repeat: no-repeat;
        background-size: #{$size}, #{$size};
    }

    .multiplebgs.svg &:before {
        background-image:
            url(image_path("icons/bracket-top-left-#{$color}.svg")),
            url(image_path("icons/bracket-top-right-#{$color}.svg"));
    }

    .multiplebgs &:after {
        @include position(absolute, null 0 0 0);
        height: #{$size};
        content: " ";
        z-index: $z;
        background-image:
            url(image_path("icons/bracket-bottom-left-#{$color}.png")),
            url(image_path("icons/bracket-bottom-right-#{$color}.png"));
        background-position: top left, top right, bottom left, bottom right;
        background-repeat: no-repeat;
        background-size: #{$size}, #{$size};
    }

    .multiplebgs.svg &:after {
        background-image:
            url(image_path("icons/bracket-bottom-left-#{$color}.svg")),
            url(image_path("icons/bracket-bottom-right-#{$color}.svg"));
    }
}
