/* =============================================================================
//  Webfonts
// ========================================================================== */

/*doc
---
title: Fonts
name: fonts
category: core
---

Fonts are accessed through SASS placeholders. Just extend the appropriate one. Fonts are applied to type, globally, in _type.scss, and individual modules can set up their own font styles.

Please DO NOT use your own font-family attributes in any circumstance. Always extend the placeholder.

```
// display fonts
// -> headlines, buttons, labels, etc.

@extend %font-display
@extend %font-display-bold

// body fonts
// -> paragraphs, captions, etc.

@extend %font-body
@extend %font-body-italic
@extend %font-body-bold
```

*/

@import "libs";


// Config & mixins
// -----------------------------------------------------------------------------

// default type sizes
$type-size--default: 16px;
$type-size-amp: 1.1em; // size of ampersands relative to their context
$type-line_height: 1.5;

@mixin type--default {
  @include rem(font-size, $type-size--default);
}

// modular scale
// -> requires SASS Type Helpers
$font-scale: 10px 13px 16px 23px 26px 37px 42px 68px 97px 110px 157px 177px;

/* Globals
// -------------------------------------------------------------------------- */

/* ----- Newslab ------------------------------------------------------------ */

/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2015 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Latinotype
 * License URL: http://www.fontspring.com/licenses/latinotype/webfont
 *
 *
 */

@include font-face("newslab-thin", font_path("NewslabThin-webfont"), $file-formats: eot ttf woff2 woff svg);
@include font-face("newslab", font_path("Newslab-webfont"), bold, $file-formats: eot ttf woff2 woff svg);

/* ----- Gibson ------------------------------------------------------------- */

/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2012 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Canada Type
 * License URL: http://www.fontspring.com/fflicense/canada-type
 *
 *
 */

@include font-face("gibson", font_path("Gibson-Light-webfont"), $file-formats: eot ttf woff svg);
@include font-face("gibson-bold", font_path("Gibson-SemiBold-webfont"), bold, $file-formats: eot ttf woff svg);


/* ----- Source Sans Pro ---------------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic);

/* Font styles
// -> PUBLIC, use these to style type globally & in modules
// -------------------------------------------------------------------------- */

/* ----- Display type ------------------------------------------------------- */

%font-display {
    font-family: "newslab-thin", $georgia;
    font-weight: normal;
    font-style: normal;
}

%font-display--bold {
    @extend %font-display;
    font-family: "newslab", $georgia;
    font-weight: bold;
}

%font-accent {
    font-family: "gibson", $helvetica;
    font-weight: normal;
    font-style: normal;
}

%font-accent--bold {
    @extend %font-accent;
    font-family: "gibson-bold", $helvetica;
    font-weight: bold;
}


/* ----- Body type ---------------------------------------------------------- */

%font-body {
    font-family: 'Source Sans Pro', $lucida-grande;
    font-weight: 400;
    font-style: normal;
}

%font-body--italic {
    @extend %font-body;
    font-style: italic;
}

%font-body--bold {
    @extend %font-body;
    font-weight: 700;
}

/* ----- Ampersands --------------------------------------------------------- */

%amp-system {
  font-family: "Baskerville", "Palatino", "Book Antiqua", serif;
  font-style: italic;
  font-weight: normal;
}

/* use the best ampersands from common system fonts... */
.amp {
    @extend %amp-system;
    font-size: $type-size-amp; /* relative to whatever type surrounds it -- it renders slightly bigger */
    color: inherit;
}
