---
title: "The Role of GPOBA"
chapter: overview
order: 2
---

GPOBA is a global partnership created in 2003 by the United Kingdom’s Department for International Development (DFID) and the World Bank, and administered by the World Bank. Originally designed to help prepare OBA projects and document and disseminate lessons learned, GPOBA began funding subsidy projects in 2006 through additional donor contributions. OBA projects have been implemented in urban, peri-urban, and rural areas, using public and private operators, public-private partnerships (PPPs), non-governmental organizations (NGOs), and community organizations as implementing agencies and service providers (Figure 4, <!-- Link to Support from Donors section? -->). GPOBA continues to develop as a Center of Expertise (CoE), building on the knowledge and experience acquired through project design and implementation, monitoring and evaluation, as well as knowledge exchanges that share lessons and best practices with development partners, practitioners, and governments that inform future projects, policies and activities.

This report reviews GPOBA’s progress towards its objectives during the last fiscal year, July 1, 2014 through June 30, 2015.

<figure class="wrapper-video">
    <iframe src="https://cdnapisec.kaltura.com/p/619672/sp/61967200/embedIframeJs/uiconf_id/26723411/partner_id/619672?iframeembed=true&playerId=kaltura_player_1444255588&entry_id=1_q7058ue3&flashvars[streamerType]=rtmp&flashvars[mediaProtocol]=rtmp" allowfullscreen webkitallowfullscreen mozAllowFullScreen frameborder="0" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
        <span itemprop="name" content="Development Financing for Results"></span>
        <span itemprop="description" content="This animated video takes a brief look at traditional and results-based financing. Output-based aid is also discussed which focuses on access to basic services for the poor."></span>
        <span itemprop="thumbnail" content="https://cfvod.kaltura.com/p/619672/sp/61967200/thumbnail/entry_id/1_q7058ue3/version/100021/acv/321"></span>
    </iframe>
</figure>


<div class="ct-figure-04 bar-chart"></div>
<div class="ct-figure-05 bar-chart"></div>
<div class="ct-figure-06 bar-chart"></div>

<h4 class="chart-title"> Number of Verified Beneficiaries (<strong>Millions</strong>) </h4>
<div class="ct-line-graph ct-perfect-fourth"></div>

<!-- LINK from this page to VIDEO on OBA v Traditional aid? -->
 <%= partial("layouts/partials/figures/figure-1") %>
 <%= partial("layouts/partials/figures/figure-3") %>
 <%= partial("layouts/partials/figures/figure-4") %>

 <%= partial("layouts/partials/figures/map") %>
