
<!-- mobile nav in footer -->
<% if current_page.metadata[:locals][:type] == "chapter" %>
    <%# previous page %>
    <% unless first_page? %>
        <% prev_page = sitemap.resources.select {|r| r.metadata[:locals][:type] == "chapter" && r.metadata[:locals][:order] == (current_page.metadata['order'] - 1) } %>
        <% prev_page_url = asset_url("#{data.site.paths.chapter}#{prev_page[0].metadata[:locals][:slug].urlize}/") %>
    <% end %>

    <%# next page %>
    <% unless last_page? %>
        <% next_page = sitemap.resources.select {|r| r.metadata[:locals][:type] == "chapter" && r.metadata[:locals][:order] == (current_page.metadata['order'] + 1) } %>
        <% next_page_url = asset_url("#{data.site.paths.chapter}#{next_page[0].metadata[:locals][:slug].urlize}/") %>
    <% end %>

    <%= partial("layouts/partials/footer", :locals => {
            :page_title => current_page.metadata[:locals][:title],
            :prev_page_slug => first_page? ? false : prev_page[0].metadata[:locals][:slug],
            :prev_page_url => first_page? ? false : prev_page_url,
            :next_page_slug => last_page? ? false : next_page[0].metadata[:locals][:slug],
            :next_page_url => last_page? ? false : next_page_url,
        }) %>
<% else %>
    <%= partial("layouts/partials/footer", :locals => {
        :page_title => current_page.data.title
    }) %>
<% end %>
