<!-- Case studies -->
<aside class="panel">
    <h2>Case studies</h2>
    <ul class="gallery">
        <li class="gallery-item media">
            <a href="#" class="media-thumb">
                <img src="<%= lorem.image '400x300' %>" />
            </a>
            <div class="media-content">
                <h3>Case study title lorem ipsum dolor sit</h3>
                <p><%= lorem.sentences 3 %></p>
                <a href="#" class="media-more">Read more &rsaquo;</a>
        </li>
        <li class="gallery-item media">
            <a href="#" class="media-thumb">
                <img src="<%= lorem.image '400x300' %>" />
            </a>
            <div class="media-content">
                <h3>Case study title lorem ipsum dolor sit</h3>
                <p><%= lorem.sentences 3 %></p>
                <a href="#" class="media-more">Read more &rsaquo;</a>
        </li>
        <li class="gallery-item media">
            <a href="#" class="media-thumb">
                <img src="<%= lorem.image '400x300' %>" />
            </a>
            <div class="media-content">
                <h3>Case study title lorem ipsum dolor sit</h3>
                <p><%= lorem.sentences 3 %></p>
                <a href="#" class="media-more">Read more &rsaquo;</a>
        </li>
    </ul>
</aside>
